.pf-slider-mouse-event-off > * {
	pointer-events: none;
}
.pf-slider-inner {
	width: 100%;
	overflow: hidden;
	display: block;
	position: relative;
}
.pf-slider-slide {
	will-change: contents;
	width: 100%;
	position: absolute !important;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	overflow: hidden;
	top: 0;
}
.pf-slider-wrapper {
	overflow: hidden;
	position: relative;
}
.pf-slider-nav {
	position: absolute;
	z-index: 999;
	display: block;
	text-decoration: none;
	font-size: 18px;
	cursor: pointer;
	border: unset;
	background: unset;
}
.pf-slider-nav:focus {
	text-decoration: none;
	outline: unset;
}
.pf-slider-nav.nav-style-1:before,
.pf-slider-nav.nav-style-2:before,
.pf-slider-nav.nav-style-3:before,
.pf-slider-nav.nav-style-4:before,
.pf-slider-nav.nav-style-5:before {
	font-size: 14px;
	color: #fff;
	font-family: FontAwesome;
}
.pf-slider-nav.nav-style-1,
.pf-slider-nav.nav-style-2,
.pf-slider-nav.nav-style-3,
.pf-slider-nav.nav-style-4 {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.pf-slider-nav.nav-style-1 {
	width: 43px;
	height: 43px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #171717;
	opacity: 0.5;
	border-radius: 100%;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.pf-next-nav.nav-style-1:hover,
.pf-prev-nav.nav-style-1:hover {
	opacity: 1;
	text-decoration: none;
}
.pf-prev-nav.nav-style-1 {
	left: 20px;
}
.pf-next-nav.nav-style-1 {
	right: 20px;
}
.pf-slider-nav.nav-style-2 {
	width: 46px;
	height: 43px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 43px;
	background-color: #030303;
	color: #fff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
}
.pf-next-nav.nav-style-2:hover,
.pf-prev-nav.nav-style-2:hover {
	text-decoration: none;
	color: #fff;
	background-color: #171717;
}
.pf-prev-nav.nav-style-2 {
	left: -46px;
	opacity: 0;
}
.pf-next-nav.nav-style-2 {
	right: -46px;
	opacity: 0;
}
.pf-slider-wrapper:hover .pf-prev-nav.nav-style-2 {
	left: 20px;
	opacity: 1;
}
.pf-slider-wrapper:hover .pf-next-nav.nav-style-2 {
	right: 20px;
	opacity: 1;
}
.pf-slider-nav.nav-style-3 {
	color: #fff;
	padding: 20px;
	text-shadow: 0 0 1px #000;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.pf-next-nav.nav-style-3:hover,
.pf-prev-nav.nav-style-3:hover {
	text-decoration: none;
}
.pf-prev-nav.nav-style-3:before {
	font-size: 24px;
}
.pf-next-nav.nav-style-3:before {
	font-size: 24px;
}
.pf-prev-nav.nav-style-3 {
	left: 40px;
	opacity: 0;
}
.pf-next-nav.nav-style-3 {
	right: 40px;
	opacity: 0;
}
.pf-slider-wrapper:hover .pf-prev-nav.nav-style-3 {
	left: 0;
	opacity: 1;
}
.pf-slider-wrapper:hover .pf-next-nav.nav-style-3 {
	right: 0;
	opacity: 1;
}
.pf-slider-nav.nav-style-4 {
	width: 46px;
	height: 43px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 43px;
	background-color: #030303;
	color: #fff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 3px;
}
.pf-next-nav.nav-style-4:hover,
.pf-prev-nav.nav-style-4:hover {
	text-decoration: none;
	color: #fff;
	background-color: #171717;
}
.pf-prev-nav.nav-style-4 {
	left: -46px;
	opacity: 0;
}
.pf-next-nav.nav-style-4 {
	right: -46px;
	opacity: 0;
}
.pf-slider-wrapper:hover .pf-prev-nav.nav-style-4 {
	left: 20px;
	opacity: 1;
}
.pf-slider-wrapper:hover .pf-next-nav.nav-style-4 {
	right: 20px;
	opacity: 1;
}
.pf-slider-nav.nav-style-5 {
	width: 46px;
	height: 43px;
	bottom: 5%;
	right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 43px;
	background-color: #030303;
	color: #fff;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.pf-next-nav.nav-style-5:hover,
.pf-prev-nav.nav-style-5:hover {
	text-decoration: none;
	color: #fff;
	background-color: #171717;
}
.pf-prev-nav.nav-style-5 {
	right: 67px;
	border-radius: 3px 0 0 3px;
}
.pf-next-nav.nav-style-5 {
	border-radius: 0 3px 3px 0;
}
.pf-slider-nav-disabled {
	pointer-events: none;
}
.pf-slider-pagination {
	position: absolute;
	bottom: 5%;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	z-index: 1;
}
.pf-slider-pagination:hover {
	cursor: pointer;
}
.pf-slider-pagination li {
	display: inline-block;
	margin: 0 5px !important;
	width: 10px !important;
	height: 10px !important;
	border-radius: 50%;
	background: #bbb;
	opacity: 1;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border: 0;
	line-height: 0;
	font-size: 0;
	color: transparent;
	cursor: pointer;
	padding: 0;
	-webkit-appearance: none;
}
.pf-slider-pagination li.active,
.pf-slider-pagination li:hover {
	background: #212121;
}
.pf-slider-pagination.pagination-style-1 li {
	width: 20px !important;
	height: 5px !important;
	border-radius: 0;
}
.pf-slider-pagination.pagination-style-2 li {
	position: relative;
	width: 8px !important;
	height: 8px !important;
	margin: 0 6px !important;
	background: transparent;
}
.pf-slider-pagination.pagination-style-2 li.active,
.pf-slider-pagination.pagination-style-2 li:hover {
	background-color: #212121;
}
.pf-slider-pagination.pagination-style-2 li:after {
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	width: 0;
	height: 0;
	position: absolute;
	content: "";
	left: -2px;
	top: -2px;
	width: 12px;
	height: 12px;
	background: transparent;
	border: 1px solid #212121;
	border-radius: 50%;
	box-sizing: border-box;
}
.pf-slider-pagination.pagination-style-3 li {
	position: relative;
	width: 16px !important;
	height: 16px !important;
	margin: 0 5px !important;
	border: 2px solid #fff;
	background: transparent;
}
.pf-slider-pagination.pagination-style-3 li.active:after {
	position: absolute;
	content: "";
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	width: 6px;
	border: 2px solid #fff;
	border-radius: 100%;
}
