.h-300px {
  height: 300px;
}

.w-300px {
  width: 300px;
}

.child-1 {
  background: lightcoral;
}

.child-2 {
  background: lightseagreen;
}

.child-3 {
  background: lightgreen;
}

.child-4 {
  background: lightgray;
}

.child-5 {
  background: dodgerblue;
}